/* Chats Page
  
  .chats-page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
  }
  

  .logo-tab {
    position: absolute;
    left: 22px;
    top: 12px;
    font-size: 32px;
    font-weight: 700;
    color: white;
  }
  
  .logout-tab {
    position: absolute;
    top: 22px;
    right: 22px;
    color: white;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    /* background: transparent; /* Optional: just make scrollbar invisible */
  /* }  */

  body{
    margin: unset;
  }
  .nav-bar {
    width: 100%;
    height: 66px;
    background-color: #fff;
  }
  
  .ce-chat-feed-container{
    background-color: #f3f2f9 !important;
    width: unset !important;
    padding: 2em !important;
  }

  .ce-chat-title-text{
    color: black !important;
  }

  .ce-message-bubble {
    padding: .75em 1em;
  }

  .ce-my-message-bubble {
    background-color: #E7CFF9 !important;
  }

  .ce-their-message-bubble{
    background-color: white !important;
  }

  .ce_message{
    color: black !important;
  }

  .ce-chat-engine{
    font-family: 'Martel Sans', sans-serif !important;
  }