.App {
    background-color: aliceblue;
    align-items:center;
}
#login-page{
    background-color: aliceblue;
}
.header{
    width:100%;    
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(196, 196, 196, 0.31);
    }
/* .meny{
    position:fixed;
    top:610px;
}     */

