/* Global */

* {
    font-family: 'Martel Sans', sans-serif;
  }
  
  html{
    background-color: #f3f2f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .App{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
